.heading-primary {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  color: $color-blue;
  margin-bottom: 6px;
}

.text-error {
  display: block;
  width: max-content;
  margin: 0.5rem auto;
  color: $color-blue;
}

.text-result {
  color: $color-blue;
  text-align: center;
  font-weight: 600;
}
